.list_hor,
.list_vert {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	// flex: 1;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.list_hor {
	overflow-x: scroll;
	flex-direction: row;
}

.list_vert {
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
}
