$textShadow: 0px 0px 5px black;
$translateY: 250%;
$translateX: 500%;
$skew: 90deg;
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-50vh);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50vh);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40vh);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40vh);
  }
}

@keyframes appearLeftUp {
  0% {
    transform: skew($skew) translateY(-$translateY) translateX(-$translateX);
    text-shadow: $textShadow;
    opacity: 0;
  }
}

@keyframes appearRightUp {
  0% {
    transform: skew(-$skew) translateY(-$translateY) translateX($translateX);
    text-shadow: $textShadow;
    opacity: 0;
  }
}

@keyframes appearLeftDown {
  0% {
    transform: skew($skew) translateY($translateY) translateX(-$translateX);
    text-shadow: $textShadow;
    opacity: 0;
  }
}

@keyframes appearRightDown {
  0% {
    transform: skew(-$skew) translateY($translateY) translateX($translateX);
    text-shadow: $textShadow;
    opacity: 0;
  }
}

@keyframes disappearLeftUp {
  100% {
    transform: skew($skew) translateY(-$translateY) translateX(-$translateX);
    text-shadow: 0px 0px 25px;
    opacity: 0;
  }
}

@keyframes disappearRightUp {
  100% {
    transform: skew(-$skew) translateY(-$translateY) translateX($translateX);
    text-shadow: 0px 0px 25px;
    opacity: 0;
  }
}

@keyframes disappearLeftDown {
  100% {
    transform: skew($skew) translateY($translateY) translateX(-$translateX);
    text-shadow: 0px 0px 25px;
    opacity: 0;
  }
}

@keyframes disappearRightDown {
  100% {
    transform: skew(-$skew) translateY($translateY) translateX($translateX);
    text-shadow: 0px 0px 25px;
    opacity: 0;
  }
}
