.cta,
.cta__hidden {
  padding: 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 11px;
  letter-spacing: 0.1em;
  // border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem auto;
  color: white;
  border-radius: 4px;

  background-color: #2a2a2a;
  // min-width: 8rem;
  min-height: 1rem;
  &:hover {
    transition: all $speed cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: #3a3a3a;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
.cta {
}
.cta__hidden {
  // height: 0px !important;
  // width: 0px !important;
  // transform: scale(0);
  // font-size: 0px;
  // color: transparent;
  // padding: 0;
  // margin: 0;
  // opacity: 0;
  // pointer-events: none;
  display: none;
  // transform: scale(0);
  border: 1px solid red;
}

.cta img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.cta__hidden img {
  transform: scale(0);
  width: 0rem !important;
  height: 0rem !important;
  border: 1px solid red;
  margin: 0 !important;
  display: none;
  padding: 0 !important;
}
.cta p {
  margin: 0;
  font-size: 11px;
}
.cta__hidden p {
  transform: scale(0);
  margin: 0 !important;
  padding: 0px !important;
  line-height: 0px;
  font-size: 0px !important;
  display: none;
}
