$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$dark1: #0e0e0e;
$dark2: #111111;
$dark3: #1a1a1a;
$dark4: #2a2a2a;
$light1: #fff;
$light2: #f1f1f1;
$light3: #e5e5e5;
$light4: #d6d6d6;

$color0: #0e0e0e;
$color1: #111111;
$color2: #1a1a1a;
$color3: #2a2a2a;
$color4: #353535;
$color5: #52525b;
$color6: #71717a;
$color7: #a1a1aa;
$color8: #d4d4d8;
$color9: #e4e4e7;
$color10: #f4f4f5;
$color11: #fafafa;
$color12: #fff;
$greyLight1: #e4ebf5;
$greyLight1: #f4f4f5;
$greyLight2: #d3d3d3;
$greyLight3: #c2c2c2;
