$lightShadow1: 0px 10px 38px -10px rgba(22, 23, 24, 0.18), 0px 10px 20px -15px rgba(22, 23, 24, 0.1);
$lightShadow2: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
$darkShadow: 0 0 1rem rgba(0, 0, 0, 0.5);
$darkShadow2: 0 2px 10px rgba(0, 0, 0, 0.5);

