$breakpoint_mobile: 480px;
// $tablet: 768px;
$tablet: 768px;
$breakpoint_desktop: 1024px;
// NAV
$topNavHeight: 3rem;
$bottomNavHeight: 2rem;
$bottomNavHeightMobile: 3rem;
$navZIndex: 103;
$modalZ: 101;
$modalContentZ: 102;
$sidebarHoverZ: 1000;
$sidebarItemHoverZ: 1000;
