.crosshair {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 30px;
	height: 30px;
	position: relative;
}

.reticle {
	background-color: white;
	position: absolute;
	border-radius: 50%;
}

/* Center dot */
.reticle:nth-child(1) {
	width: 4px;
	height: 4px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Top dot */
.reticle:nth-child(2) {
	height: 2px;
	width: 2px;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}

/* Right dot */
.reticle:nth-child(3) {
	height: 2px;
	width: 2px;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
}

/* Bottom dot */
.reticle:nth-child(4) {
	height: 2px;
	width: 2px;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

/* Left dot */
.reticle:nth-child(5) {
	height: 2px;
	width: 2px;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}

.reticle::before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: white;
}
